<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.BD_GCO03ConnectionString"
            connectionString="Data Source=SERVER-MG;Initial Catalog=BD_GCO03;User ID=miguel;Password=main" />
        <add name="DAL.Properties.Settings.BD_GENERAL_COIConnectionString"
            connectionString="Data Source=SERVER-MG;Initial Catalog=BD_GENERAL_COI;User ID=miguel;Password=main" />
    </connectionStrings>
    <userSettings>
        <DAL.Properties.Settings>
            <setting name="SERVIDOR" serializeAs="String">
                <value>SERVER-MG</value>
            </setting>
        </DAL.Properties.Settings>
    </userSettings>
</configuration>